# Idea #
**/.idea/

### Python ###
**/__pycache__/

## Venv files ##
**/venv/
**/.venv/

## Env files ##
**/.env*
!**/.env.example

### Repo specific ###
**/data/
**/*.pem
**/*profile.json
**/scratch/