# Base URL of the data api
DSB_DATA_API_BASE_URL = "https://dev.data-api.dsb.no"
# Path to the private key pem file
MASKINPORTEN_CLIENT_PRIVATE_KEY_PATH = "./private_key.pem"
# The ID of the key the private key corresponds to
MASKINPORTEN_CLIENT_KEY_ID = ""
# The ID of the client you created for Maskinporten in Selvbetjeningsportalen
MASKINPORTEN_CLIENT_ID = ""
# The audience for the token request to Maskinporten.
MASKINPORTEN_AUDIENCE="https://test.maskinporten.no/"
# The scope you received from DSB
MASKINPORTEN_SCOPE = "dsb:data/demo.read"
# The resource the token request is for. This will be used as the audience in the access token.
MASKINPORTEN_RESOURCE = "https://dev.data-api.dsb.no"